<%- include('../partials/header', { title: 'Afegir Departament' }) %>

<h1>Afegir Departament</h1>
<form action="/departments/create" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">Nom del Departament</label>
    <input
      type="text"
      name="name"
      class="form-control"
      required
    />
  </div>
  
  <button type="submit" class="btn btn-primary">Crear Departament</button>
</form>

<%- include('../partials/footer') %>
