<%- include('../partials/header', { title: 'Llista d\'Estadístiques' }) %>
<style>

</style>
<h1 class="mb-4">Estadístiques</h1>

<table class="table table-bordered" table-striped align="middle">
    <thead class="table-dark text-center">
    <tr>
      <th>Descripció</th>
      <th>Departament</th>
      <th>Prioritat</th>
      <th>Tècnic</th>
      <th>Estat</th>
      <th>Accions</th>
    </tr>
  </thead>
</table>
<%- include('../partials/footer') %>