<%- include('../partials/header', { title: 'Afegir Incidència' }) %>

<h1>Afegir Incidència</h1>

<form action="/incidencies/create" method="POST">
  <div class="mb-3">
    <label class="form-label">Descripció</label>
    <input type="text" id="descripcio" name="descripcio" placeholder="Escriu la descripcio" class="form-control" required>
  </div>
  <div class="mb-3">
    <label for="prioritat" class="form-label">Prioritat</label>
    <select class="form-select" id="prioritat" name="prioritat" required>
      <option value="Alta">Alta</option>
      <option value="Mitjana">Mitjana</option>
      <option value="Baixa">Baixa</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Departament</label>
    <select name="departmentId" class="form-select" required>
      <% departaments.forEach(dep => { %>
        <option value="<%= dep.id %>"><%= dep.nom %></option>
      <% }) %>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Crear Incidència</button>
  <p></p>
  <table>
    <tr>
      <td>
        <p>1 - Informatica</p>
        <p>2 - Matematicas</p>
      </td>
      <td>
        <p></p>
      </td>
      <td>
        <p>3 - Lengua</p>
        <p>4 - Artes</p>
      </td>
      <td>
        <p></p>
      </td>
      <td>
        <p>5 - Historia</p>
        <p>6 - Educación Física</p>
      </td>
    </tr>
  </table>
</form>

<%- include('../partials/footer') %>
