<%- include('../partials/header', { title: 'Afegir Incidència' }) %>

<h1>Afegir Incidència</h1>

<form action="/incidencies/create" method="POST">
  <div class="mb-3">
    <label class="form-label">Descripció</label>
    <input type="text" name="description" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Departament</label>
    <select name="departmentId" class="form-select" required>

        <option value="inf1">Informàtica</option>
        <option value=""></option>

    </select>
  </div>

  <button type="submit" class="btn btn-success">Crear Incidència</button>
</form>

<%- include('../partials/footer') %>
