  <h1>Nova moto</h1>
  <form action="/incidencies/Crear" method="POST">
    <div class="mb-3">
      <label for="descripció" class="form-label">A continuació descriu l'incident:</label>
      <input type="text" name="name" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="brand" class="form-label">A quin departament vols enviar aquesta incidència?</label>
      <select name="categoryId" class="form-select">
          <option value="inf1">Informàtica</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="country" class="form-label">Païs</label>
    
      <select name="country" id="cars" class="form-control" required>
        <option value="italy">Italia</option>
        <option value="usa">USA</option>
        <option value="japan">Japó</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="cc" class="form-label">Centímetres cúbics</label>
      <input type="number" name="cc" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="categoryId" class="form-label">Categoria</label>
      <select name="categoryId" class="form-select">
        <% categories.forEach(cat => { %>
          <option value="<%= cat.id %>"><%= cat.name %></option>
        <% }) %>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Crear</button>
  </form>